

<div class="container m-3 p-4">
    {{#if put}}
    <form method="{{method}}" action="/events/{{id}}">
        <input type="hidden" name="_method" value="put">
    {{else}}
    <form method="{{method}}" action="/events">
    {{/if}}


    <div style="width: 30vw" class="container m-3 p-4">
        <form method="{{method}}" action="/events">

            <h1>{{header}}</h1>

    <div class="input-group mb-3 form-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Последний визит</span>
        </div>
        {{#if firstDate}}
        <input class="form-control" type="date" name="firstDate" required value='{{firstDate}}'/>
        {{else}}
        <input class="form-control" type="date" name="firstDate" required/>
        {{/if}}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Периодичность (дней)</span>
        </div>
        {{#if period}}
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="period" value="{{period}}">
        {{else}}
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="period">
        {{/if}}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Предупреждать за (дней)</span>
        </div>
        {{#if notifyBefore}}
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="notifyBefore" value="{{notifyBefore}}">
        {{else}}
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="notifyBefore">
        {{/if}}
        </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Процедура проходит у специалиста?</label>
        </div>
        {{#if specialist}}
        <select class="custom-select" id="inputGroupSelect01" name="specialist">
            <option value="true" selected>Да</option>
            <option value="false">Нет</option>
        </select>
        {{else}}
            <select class="custom-select" id="inputGroupSelect01" name="specialist">
                <option value="true" selected>Да</option>
                <option value="false">Нет</option>
            </select>
        {{/if}}
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Стоимость</span>
        </div>
        {{#if cost}}
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cost" value="{{cost}}">
        {{else}}
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="cost">
        {{/if}}
    </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Стоимость</span>
                </div>
                <input type="text" class="form-control" aria-label="Default"
                    aria-describedby="inputGroup-sizing-default" name="cost">
            </div>

            <input style=" background-color: #9A74A1; border-color: #9A74A1" class="btn btn-primary" type="submit"
                value="{{action}}">
        </form>
    </div>
