{{calendar}}
<body style="background-image: linear-gradient(to right top, #ff9bc4, #ffafb3, #ffc8b0, #ffdfbd, #fbf4d7);">
    <ul class="card-group">

        {{#each events}}
        <li class="card" style="width: 18rem;">
            {{!-- <img src="..." class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h5 class="card-title">{{this.activity}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Следующий визит <b>{{nextDate}}</b></li>
                {{#if this.cost}}
                <li class="list-group-item">Стоимость <b>{{this.cost}}</b></li>
                {{/if}}
            </ul>
            <div class="card-body">
                <a href="/events/{{this._id}}" class="card-link">Редактировать</a>
                <a href="#" id="{{this._id}}" class="card-link delete-link">Удалить</a>
            </div>
        </li>
        {{/each}}

    </ul>

</body>

<script src="/javascripts/events.js" defer></script>